# NestJS Server Configuration
PORT=3001

# Playwright Local Automation Configurations
# Run headfully (false) so that the user can login and input OTP in local browser sessions
PLAYWRIGHT_HEADLESS=false

# Action delay in milliseconds to replicate human typing/actions
PLAYWRIGHT_SLOW_MO=500

# Target Government OSS Portal
OSS_PORTAL_URL=https://oss.go.id
